

div {
    border: solid 1px black;
    margin: 4px;
    padding: 4px;
    background-color: teal;
}

.container {
    
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: white;
}

@media screen and (min-width: 0px) and (max-width: 479px) {
    body {
        background-color: red;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #small>h2 {
        font-size: 2em;
    }

    #small>p {
        font-size: 1.5em;
    }

    div {
        width: 100%;
        margin: auto;
    }

}

@media screen and (min-width: 480px) and (max-width: 1023px) {
    body {
        background-color: green;
        flex-direction: row;
    }


    div {
        flex-wrap: wrap;
    }

    #medium>h2 {
        font-size: 1.5em;
    }

    #medium>p {
        font-size: 1.2em;
    }
    #small {
        width: 33%;
    }
    #medium {
        width: 62%;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }

    div {
        width: 33.333%;
    }





}