div {
    border: solid 1px black;
    margin: 4px;
    padding: 4px;
    background-color: #3c3735;
text-align: center;
align-content: center;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: #f3d043;
}

.container {

    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: #f3d043;
}

@media screen and (max-width: 479px) {
    body {
        background-color: #800000;
    }

    .container {
        flex-direction: column;
    }

    #small>h2 {
        font-size: 2em;
    }

    #small>p {
        font-size: 1.5em;
    }

}

@media screen and (min-width: 480px)and (max-width: 1023px) {
    body {
        background-color: #4d3635;
        flex-direction: row;
    }

    div {
        flex-wrap: wrap;
    }

    .container {
        justify-content: space-between;
    }

    .container>#small {
        width: 60%;
    }

    #medium {
        width: 30%;
    }

    #large {
        width: 100%;
    }

    #medium>h2 {
        font-size: 1.5em;
    }

    #medium>p {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 1024px) {
    body {
        background-color: #3e3e3e;
    }

    div {
        flex-flow: row nowrap;
        margin: auto;

    }

    .container>div {
        width: 30%;
        height: auto;
        font-size: 2em;
    }







}